section.products {
  margin-top: var(--section-gap);
  margin-bottom: var(--section-gap);
}
section.products div.container {
  display: grid;
  grid-gap: 30px;
}
@media (max-width: 960px) {
  section.products div.container {
    grid-gap: 10px;
  }
}
section.products div.title {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 30px;
}
@media (max-width: 960px) {
  section.products div.title {
    grid-template-columns: 1fr;
  }
}
section.products div.swiper {
  overflow: visible;
}
@media (max-width: 960px) {
  section.products div.swiper {
    margin-bottom: 14px;
  }
}
@media (max-width: 640px) {
  section.products div.swiper {
    width: calc(100% + var(--side-gap) * 2);
    margin-left: calc(var(--side-gap) * -1);
  }
}
@media (max-width: 960px) {
  section.products div.swiper-navigation {
    display: none;
  }
}
section.products div.swiper-pagination2 {
  display: none;
}
@media (max-width: 960px) {
  section.products div.swiper-pagination2 {
    display: grid;
  }
}

section.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}
section.filter div.container {
  grid-column: full;
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 480px;
  padding: 20px 30px;
  display: grid;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-gap: 40px;
  z-index: 2;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
section.filter img.cross {
  cursor: pointer;
}
section.filter div.title {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  margin-bottom: 6px;
}
section.filter div.title h4 {
  font-size: 20px;
}
section.filter div.price {
  display: grid;
  grid-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
section.filter div.price div.wrap {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 5px;
  padding: 4px 8px;
  background: #f5f5f5;
}
section.filter div.price span {
  font-weight: 600;
}
section.filter div.price div.inputs {
  display: grid;
  grid-template-columns: repeat(2, -webkit-max-content);
  grid-template-columns: repeat(2, max-content);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.filter div.price div.inputs input[type=text] {
  font-weight: 600;
  color: #200a0a;
  height: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: unset;
  field-sizing: content;
}
section.filter div.price div.inputs input[type=text]:last-child {
  text-align: right;
}
section.filter div.price div.slider {
  position: relative;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
}
section.filter div.price div.slider div.slider-range {
  position: absolute;
  top: 50%;
  height: 1px;
  background: #200a0a;
}
section.filter div.price div.slider div.slider-track {
  height: 1px;
  background: #6f6f6f;
  opacity: 0.5;
}
section.filter div.price div.slider input[type=range] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: unset;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  pointer-events: none;
}
section.filter div.price div.slider input[type=range]::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  display: block;
  border: 1px solid #200a0a;
  width: 16px;
  height: 16px;
  background: #fff;
  pointer-events: auto;
}
section.filter div.price div.slider input[type=range]::-moz-range-thumb {
  display: block;
  border: 1px solid #200a0a;
  width: 16px;
  height: 16px;
  background: #fff;
  pointer-events: auto;
}
section.filter div.accordion div.caption {
  cursor: pointer;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  color: #200a0a;
}
section.filter div.accordion div.caption img {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
section.filter div.accordion div.content {
  display: grid;
  grid-template-rows: 0fr;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
section.filter div.accordion div.content div.list {
  display: grid;
  grid-gap: 10px;
  padding-bottom: 10px;
}
section.filter div.accordion div.content div.list label.checkbox span {
  opacity: 0.8;
}
section.filter div.accordion div.overflow {
  overflow: hidden;
}
section.filter div.accordion.open div.caption img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.filter div.accordion.open div.content {
  grid-template-rows: 1fr;
}
section.filter div.buttons {
  display: grid;
  grid-gap: 10px;
  align-self: end;
}
section.filter div.buttons button {
  width: 100%;
}
section.filter div.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D9D9D9;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
section.filter.show {
  pointer-events: auto;
}
section.filter.show div.container {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
section.filter.show div.backdrop {
  opacity: 0.3;
}

section.subscribe {
  margin-top: var(--section-gap);
  margin-bottom: var(--section-gap);
}
section.subscribe div.container {
  max-width: 960px;
}
section.subscribe h2 {
  margin-bottom: 16px;
  color: #1a2238;
}
@media (max-width: 960px) {
  section.subscribe h2 {
    margin-bottom: 10px;
  }
}
section.subscribe form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 15px;
  margin-top: 32px;
  margin-bottom: 10px;
  max-width: 800px;
}
@media (max-width: 640px) {
  section.subscribe form {
    grid-template-columns: 1fr;
    margin-top: 16px;
  }
}
section.subscribe form label:after {
  display: none;
}
section.subscribe span.offer {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: rgba(111, 111, 111, 0.8);
}
section.subscribe span.offer a {
  font-weight: 500;
  text-decoration: underline;
  color: #8c6a3c;
}
section.subscribe span.offer a:hover {
  text-decoration: none;
}

section.main {
  margin-top: calc(var(--header) * -1);
  width: 100%;
  max-height: 900px;
  aspect-ratio: 16/9;
}
section.main div.container {
  position: relative;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  z-index: 3;
}
section.main div.breadcrumbs {
  padding-top: calc(var(--header) + 30px);
}
@media (max-width: 960px) {
  section.main div.breadcrumbs {
    padding-top: calc(var(--header) + 10px);
  }
}
section.main div.text {
  display: grid;
  padding-bottom: 160px;
  max-width: 50%;
}
@media (max-width: 960px) {
  section.main div.text {
    padding-bottom: 50px;
  }
}
@media (max-width: 640px) {
  section.main div.text {
    max-width: unset;
  }
}
section.main div.text span {
  max-width: 600px;
  opacity: 0.8;
}
section.main img.background {
  grid-column: full;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
section.main img.person {
  position: absolute;
  padding-top: 80px;
  bottom: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom center;
     object-position: bottom center;
  z-index: 2;
}
@media (max-width: 640px) {
  section.main img.person {
    position: static;
    width: calc(100% + var(--side-gap));
    height: 540px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom left;
       object-position: bottom left;
    padding-top: unset;
  }
}

section.products {
  margin-top: 60px;
}
@media (max-width: 960px) {
  section.products {
    margin-top: 26px;
  }
}
section.products div.container {
  grid-gap: 30px;
}
@media (max-width: 640px) {
  section.products div.container {
    grid-gap: 20px;
  }
}
section.products div.filters {
  position: relative;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
  grid-gap: 62px;
  color: #200a0a;
  z-index: 2;
}
@media (max-width: 960px) {
  section.products div.filters {
    grid-template-columns: -webkit-max-content -webkit-max-content 1fr -webkit-max-content;
    grid-template-columns: max-content max-content 1fr max-content;
  }
}
@media (max-width: 640px) {
  section.products div.filters {
    grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
    grid-template-columns: max-content 1fr max-content;
  }
}
section.products div.filters div.filter {
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
}
section.products div.filters div.filter svg path, section.products div.filters div.filter svg circle {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
section.products div.filters div.filter span {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 640px) {
  section.products div.filters div.filter span {
    display: none;
  }
}
section.products div.filters div.filter:hover svg path, section.products div.filters div.filter:hover svg circle {
  stroke: #8c6a3c;
}
section.products div.filters div.filter:hover span {
  color: #8c6a3c;
}
@media (max-width: 640px) {
  section.products div.filters div.select {
    display: none;
  }
}
section.products div.filters div.select div.selected_item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
section.products div.filters div.select:hover div.selected_item {
  color: #8c6a3c;
}
section.products div.filters div.select:hover div.selected_item svg path {
  stroke: #8c6a3c;
}
section.products div.filters div.count {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (max-width: 960px) {
  section.products div.filters div.count {
    position: static;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
}
@media (max-width: 640px) {
  section.products div.filters div.count {
    margin-right: -20px;
  }
}
section.products div.filters div.views {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 10px;
}
@media (max-width: 640px) {
  section.products div.filters div.views span {
    display: none;
  }
}
section.products div.filters div.views div.icons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}
section.products div.filters div.views div.icons img {
  cursor: pointer;
  opacity: 0.3;
}
section.products div.filters div.views div.icons img.active {
  opacity: 1;
}
section.products div.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--grid-gap);
  z-index: 1;
}
@media (max-width: 960px) {
  section.products div.products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 640px) {
  section.products div.products {
    grid-template-columns: repeat(2, 1fr);
    width: calc(100% + var(--side-gap) * 2);
    margin-left: calc(var(--side-gap) * -1);
  }
}
section.products div.products div.banner:nth-of-type(even) {
  grid-column: 3/5;
  grid-row: 2/4;
  width: 100%;
  height: 100%;
}
@media (max-width: 960px) {
  section.products div.products div.banner:nth-of-type(even) {
    grid-column: 2 span;
    width: 100%;
    height: 420px;
    grid-row: unset;
  }
}
@media (max-width: 640px) {
  section.products div.products div.banner:nth-of-type(even) {
    grid-column: 2 span;
  }
}
section.products div.products div.banner:nth-of-type(odd) {
  grid-column: 1/3;
  grid-row: 5/7;
  width: 100%;
  height: 100%;
}
@media (max-width: 960px) {
  section.products div.products div.banner:nth-of-type(odd) {
    grid-column: 2 span;
    width: 100%;
    height: 420px;
    grid-row: unset;
  }
}
@media (max-width: 640px) {
  section.products div.products div.banner:nth-of-type(odd) {
    grid-column: 2 span;
  }
}
section.products div.products a.banner {
  display: grid;
  -ms-flex-line-pack: end;
      align-content: end;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px;
}
@media (max-width: 960px) {
  section.products div.products a.banner {
    padding: 20px;
  }
}
section.products div.products a.banner div.description {
  position: relative;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 30px;
  z-index: 1;
}
section.products div.products a.banner div.description div.text {
  display: grid;
  grid-gap: 16px;
  max-width: 480px;
}
@media (max-width: 960px) {
  section.products div.products a.banner div.description div.text {
    grid-gap: 8px;
  }
}
section.products div.products a.banner div.description div.text span {
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #6f6f6f;
  font-size: 12px;
}
@media (min-width: 480px) {
  section.products div.products a.banner div.description div.text span {
    font-size: calc(0.0096774194 * 100vw + 7.3548387097px);
  }
}
@media (min-width: 1720px) {
  section.products div.products a.banner div.description div.text span {
    font-size: 24px;
  }
}
section.products div.products a.banner div.description div.cart {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 60px;
  height: 60px;
  background: #8c6a3c;
}
@media (max-width: 960px) {
  section.products div.products a.banner div.description div.cart {
    width: 40px;
    height: 40px;
  }
}
section.products div.products a.banner div.description div.cart svg {
  width: 26px;
  height: 26px;
}
section.products div.products a.banner div.description div.cart svg path {
  stroke: white;
}
section.products div.products a.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.products div.pagination {
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  margin-top: 10px;
}
section.products div.pagination div.prev {
  cursor: pointer;
  display: grid;
}
section.products div.pagination div.prev svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.products div.pagination div.list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 20px;
}
section.products div.pagination div.list a.active {
  color: #8c6a3c;
}
section.products div.pagination div.list a:hover {
  color: #8c6a3c;
}
section.products div.pagination button.border {
  min-width: 250px;
}
@media (max-width: 640px) {
  section.products div.pagination button.border {
    width: 100%;
  }
}
section.products div.pagination a {
  position: relative;
}
section.products div.pagination a.prev, section.products div.pagination a.next {
  position: relative;
  cursor: pointer;
}
section.products div.pagination a.prev.disable, section.products div.pagination a.next.disable {
  display: none;
}
section.products div.pagination a.prev:hover svg path, section.products div.pagination a.next:hover svg path {
  stroke: #8c6a3c;
}
section.products div.pagination a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 16px;
  height: 16px;
  background: transparent;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
section.products.list div.products {
  grid-template-columns: 1fr;
}
@media (max-width: 960px) {
  section.products.list div.products {
    grid-gap: 15px;
  }
}
section.products.list div.banner {
  display: none;
}
section.products.list a.product_card div.grid_view {
  display: none;
}
section.products.list a.product_card div.list_view {
  display: grid;
}

section.seo {
  margin-top: var(--section-gap);
  margin-bottom: var(--section-gap);
}
section.seo div.container {
  display: grid;
  justify-items: center;
  text-align: center;
  grid-gap: 10px;
}
section.seo div.container span {
  max-width: 890px;
}
section.seo div.content {
  display: grid;
  grid-template-rows: 1fr;
  max-width: 890px;
  -webkit-transition: grid-template-rows 0.5s;
  transition: grid-template-rows 0.5s;
  transition: grid-template-rows 0.5s, -ms-grid-rows 0.5s;
}
section.seo div.content div.overflow {
  overflow: hidden;
  display: grid;
  grid-gap: 10px;
}
section.seo div.content.hide {
  grid-template-rows: 0fr;
}
section.seo div.content.hide + div.more span.show {
  display: block;
}
section.seo div.content.hide + div.more span.hide {
  display: none;
}
section.seo div.content.hide + div.more svg {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
section.seo div.more {
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
}
section.seo div.more span {
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #8c6a3c;
}
section.seo div.more span.show {
  display: none;
}
section.seo div.more span.hide {
  display: block;
}
section.seo div.more svg {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.seo div.more svg path {
  stroke: #8c6a3c;
}/*# sourceMappingURL=catalog.css.map */