section.about
    div.container
        
        div.preview
            img(src="images/10.webp", alt="J-Point")

        div.text
            div.logotype
                h2 J-Point
                span изысканный ювелирный дом
            div.description
                span J-Point — украшения, которые подчёркивают индивидуальность, а не соревнуются в каратах. Мы верим, что стиль создают детали: лаконичные формы, яркие акценты и свобода сочетаний. 
                span В основе бренда — вдохновение московским стрит-стайлом: лёгкость, многослойность и современный ритм города. Именно этот подход мы одними из первых привнесли на российский ювелирный рынок.
            div.author
                div.name Марина
                div.surname Костина
                div.position Основатель и креативный директор бренда
            div.signature.observe
                include ../../images/signature.svg