@use '../../components/common/sass/_variables' as *
@use '../../components/common/sass/_mixins' as *

section.collections
    margin-top: var(--section-gap)
    margin-bottom: var(--section-gap)

    div.container
        display: grid
        grid-gap: 30px
        +s(m)
            grid-gap: 10px

    div.title
        display: grid
        align-items: end
        grid-template-columns: 1fr max-content
        grid-template-areas: 'Title Nav' 'Text Nav'
        grid-gap: 10px 30px

        h2
            grid-area: Title

        div.swiper-navigation
            grid-area: Nav

        span
            grid-area: Text
            max-width: 800px
            opacity: 0.8

    div.swiper
        overflow: visible
        +s(m)
            margin-bottom: 14px

    div.swiper-navigation
        +s(m)
            display: none

    div.swiper-pagination2
        display: none
        +s(m)
            display: grid

    a.button
        &:hover
            background: white
            span
                color: $brown !important
