@use '../../components/common/sass/_variables' as *
@use '../../components/common/sass/_mixins' as *

footer
    white-space: nowrap
    background: #f5f5f5
    padding-top: 30px
    padding-bottom: 32px
    opacity: 0
    +s(s)
        padding-top: unset
        padding-bottom: 20px
    div.container
        display: grid
        div.top
            position: relative
            display: grid
            align-items: start
            grid-template-columns: repeat(5, 1fr)
            padding-bottom: 80px
            +s(m)
                grid-template-columns: repeat(3, 1fr)
                grid-gap: 30px
            +s(s)
                grid-template-columns: 1fr
                grid-gap: unset
                padding-bottom: 10px

            menu.catalog,
            menu.information,
            menu.help
                display: grid
                +s(s)
                    border-bottom: 1px solid #6f6f6f33

                div.caption
                    display: grid
                    align-items: center
                    grid-template-columns: 1fr
                    grid-auto-flow: column
                    grid-auto-columns: max-content
                    +s(s)
                        cursor: pointer
                        padding-top: 15px
                        padding-bottom: 15px

                    img
                        transition: transform 0.5s
                        display: none
                        +s(s)
                            display: block
                div.list
                    display: grid
                    grid-gap: 12px
                    +s(s)
                        grid-template-rows: 0fr
                        transition: all 0.5s

                    div.overflow
                        overflow: hidden

                    div.wrap
                        display: grid
                        grid-gap: 12px
                        margin-top: 16px
                        margin-bottom: 16px
                        +s(s)
                            margin-top: unset
                a
                    font-weight: 400
                    line-height: 140%
                    color: #2b2620

                +s(s)
                    &.open
                        div.caption
                            img
                                transform: rotate(180deg)
                        div.list
                            grid-template-rows: 1fr

            div.socials
                display: grid
                grid-gap: 16px
                +s(s)
                    margin-top: 20px
                    margin-bottom: 30px

            div.contacts
                display: grid
                grid-gap: 10px
                a.phone
                    font-family: "Cormorant", serif
                    font-weight: 600
                    letter-spacing: -0.01em
                    text-transform: uppercase
                    color: #2b2620
                    +f(20px, 32px)
                a.email
                    font-weight: 400
                    line-height: 130%
                    color: #2b2620
                    text-decoration: underline
                    +f(12px, 16px)
                    &:hover
                        text-decoration: none
                span
                    font-weight: 400
                    line-height: 130%
                    color: #2b2620
                    +f(12px, 16px)

        div.bottom
            position: relative
            display: grid
            grid-template-columns: repeat(3, max-content) 1fr
            grid-gap: 10px 30px
            padding-top: 20px
            +s(m)
                grid-template-columns: repeat(2, 1fr)
            +s(s)
                grid-template-columns: 1fr
                grid-gap: 15px

            span.copyright
                opacity: 0.4
            a.link
                opacity: 0.4
                text-decoration: underline
                &:hover
                    text-decoration: none
            a.develop
                display: grid
                grid-template-columns: repeat(2, max-content)
                align-items: center
                grid-gap: 10px
                justify-self: end
                text-decoration: none
                +s(m)
                    justify-self: start
                span
                    opacity: 0.5

            img.logotype
                position: absolute
                right: 0
                bottom: 100%
                width: 100%
                max-width: 1060px
                +s(s)
                    position: static

    a
        transition: all 0.5s
        &:hover
            color: $color !important
            opacity: 1 !important

div#cookie-banner
    position: fixed
    right: var(--side-gap)
    bottom: var(--side-gap)
    background: white
    width: 680px
    align-items: center
    grid-template-columns: 1fr max-content
    grid-gap: 30px
    padding: 30px
    color: black
    z-index: 999
    display: none
    +s(m)
        padding: 24px
    +s(s)
        grid-template-columns: 1fr
        width: 100%
        bottom: 0
        right: 0

    a
        text-decoration: underline
        opacity: 0.5
        &:hover
            opacity: 1

    button
        +s(s)
            width: 100%

    &.show
        display: grid
