footer
    div.container
        div.top
            menu.catalog
                div(onclick="this.parentNode.classList.toggle('open')").caption
                    h4 Каталог
                    img(src="images/footer_arrow.svg")
                div.list
                    div.overflow
                        div.wrap
                            a(href="#") Колье
                            a(href="#") Украшения на тело
                            a(href="#") Серьги
                            a(href="#") Браслеты
                            a(href="#") Кольца
                            a(href="#") Каффы
                            a(href="#") Скидки
            menu.information
                div(onclick="this.parentNode.classList.toggle('open')").caption
                    h4 Информация
                    img(src="images/footer_arrow.svg")
                div.list
                    div.overflow
                        div.wrap
                            a(href="#") О компании
            menu.help
                div(onclick="this.parentNode.classList.toggle('open')").caption
                    h4 Помощь
                    img(src="images/footer_arrow.svg")
                div.list
                    div.overflow
                        div.wrap
                            a(href="#") Доставка и оплата
                            a(href="#") Возврат и обмен
                            a(href="#") Контакты
            div.socials
                h4 Наши соцсети
                a(href="#"): img(src="images/telegram.svg") 
            div.contacts
                a(href="#").phone +7 495 212-11-10
                a(href="#").email Info@jpoint-jewellery.com
                span Часы работы c 11:00 до 22:00
        div.bottom
            span.copyright ©2026 J-Point. Все права защищены.
            a(href="#").link Публичная оферта
            a(href="#").link Политика конфиденциальности
            a(href="#").develop
                span Дизайн, разработка сайта
                img(src="images/mwi.svg", alt="MWI")
            img(src="images/footer_logotype.svg").logotype