section.subscribe
    div.container
        h2 Подпишитесь на новости бренда
        span Ознакомьтесь с последними коллекциями, новостями и эксклюзивными новинками от J-point
        form(action="") 
            +input('email', 'Email', true)
            button.border Подписатся
        span.offer Нажимая на кнопку вы даёте согласие с #[a(href="#") публичной офертой] и #[a(href="#") обработкой персональных данных] и даёте согласие на получение писем с новостями и акциями бренда