@use '../components/common/sass/_mixins' as *
@use '../components/common/sass/_variables' as *

section.main
    padding-top: var(--section-gap)
    padding-bottom: var(--section-gap)
    height: 100%
    box-sizing: border-box

    div.container
        display: grid
        justify-items: center
        align-content: center
        text-align: center

    img
        width: 100%
        max-width: 540px
        margin-bottom: 34px

    h2
        margin-bottom: 20px

    span
        display: block
        opacity: 0.8
        max-width: 420px
