extends ../components/common/pug/_layout.pug
include ../components/common/pug/_mixins.pug

block links
    link(rel="stylesheet", href="css/delivery.css")

block content

    section.main
        div.container

            div.breadcrumbs
                a(href="#") Главная
                span Доставка и оплата

            div.title
                h2 Доставка и оплата
                span Мы сопровождаем ваш заказ на каждом этапе — от подтверждения изделия до его бережной доставки.

            div.how

                div.subtitle
                    h3 Как оформить заказ
                    span Оформление заказа происходит в несколько этапов:
                
                div.list
                    div.item
                        img(src="images/delivery_1.svg")
                        div.text
                            h4 Заявка
                            span Вы Оставляете заявку на бронирование изделия.
                    div.item
                        img(src="images/delivery_2.svg")
                        div.text
                            h4 подтверждение наличия
                            span Персональный менеджер связывается с вами для подтверждения наличия.
                    div.item
                        img(src="images/delivery_3.svg")
                        div.text
                            h4 Согласование условий
                            span С вами согласовываются условия доставки и оплаты
                    div.item
                        img(src="images/delivery_4.svg")
                        div.text
                            h4 Доставка
                            span После подтверждения заказ передаётся в доставку

                div.phone
                    h4 Обратите внимание: оформление заказа осуществляется только после консультации с менеджером
                    a(href="#").phone
                        img(src="images/consult_phone.svg")
                        span +7 495 212-11-10

    section.delivery
        div.container
            div.title
                h2 Доставка и оплата
                span Мы уделяем особое внимание безопасности и надёжности доставки ювелирных изделий.

            div.tabs
                div.tabs_captions
                    div(data-tabcaption="delivery").tab_caption.active Доставка
                    div(data-tabcaption="payment").tab_caption Оплата
                div.tabs_content
                    div(data-tabcontent="delivery").tab_content.active
                        div.group
                            h4 Способ доставки
                            span Доставка по России осуществляется специализированной курьерской службой «Спецсвязь».
                        div.group
                            h4 Сроки
                            span Срок доставки рассчитывается индивидуально и зависит от региона и наличия изделия. Менеджер сообщит точные сроки при подтверждении заказа.
                        div.group
                            h4 Условия
                            ul
                                li — отправления полностью застрахованы
                                li — доставка осуществляется только после подтверждения заказа и его оплаты. 
                        div.attention
                            h4 
                                img(src="images/alert.svg")
                                |Внимание!
                            span Ювелирные изделия не подлежат возврату и обмену.Перед покупкой, пожалуйста, ознакомьтесь с этим условием
                        
                    div(data-tabcontent="payment").tab_content
                        div.group
                            h4 Способ оплаты
                            span Доставка по России осуществляется специализированной курьерской службой «Спецсвязь».
                        div.group
                            h4 Сроки
                            span Срок доставки рассчитывается индивидуально и зависит от региона и наличия изделия. Менеджер сообщит точные сроки при подтверждении заказа.
                        div.group
                            h4 Условия
                            ul
                                li — отправления полностью застрахованы
                                li — доставка осуществляется только после подтверждения заказа и его оплаты. 
                        div.attention
                            h4 
                                img(src="images/alert.svg")
                                |Внимание!
                            span Ювелирные изделия не подлежат возврату и обмену.Перед покупкой, пожалуйста, ознакомьтесь с этим условием

    section.loyalty
        div.container
            div.cards
                img(src="images/29.webp")
            div.text
                div.group
                    h3 Скидки и карта лояльности
                    h3.discount - 10%
                    hr
                    span.opacity Скидка предоставляется при накоплении общей суммы покупок от #[b 2 000 000 ₽]
                    span *Карты лояльности не суммируются с акциями и скидками
                div.group
                    h3 Подарочные сертификаты
                    span Порадуйте себя или близких качественным подарком без лишних хлопот. Подробнее о нашем сертификате и условиях их приобретения вы можете узнать у наших менеджеров оставив заявку.
                    hr
                    span Связаться с менеджером
                    a(href="#").phone
                        img(src="images/consult_phone.svg")
                        span +7 495 212-11-10

    include ../components/sections/_subscribe.pug